@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green: rgb(127, 135, 13);
    --black: #130f40;
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --light-color: #666
}

*{
    padding: 0;
    margin: 0;
    border: none;
    transition: all 0.5s linear;
    font-family: 'Poppins', sans-serif;
}

section{
    /* background-image: url(img4.jpg); */
    background-size: 100rem;
    height: 50rem;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img4.jpg) no-repeat center/cover;
    background-repeat: none;
    display: flex;
    /* padding-top: 10%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h1{
    font-size: 5rem;
    color: #fdfdfd;
    padding: 3rem;
}

section h3{
    font-size: 3rem;
    color: #fff;
}

section h1 span{
    background: var(--green);
    padding: 1.5rem 3rem 1.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

section a{
    background: #a9a5a5;
    color: var(--black);
    /* width: 10rem; */
    border-radius: 1rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 3rem;
    text-decoration: none;
    font-size: 2rem;
}

section a:hover{
    background: var(--green);
    color: #fff;
}
